/* * {
     outline: 1px solid tomato;
 } */


.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
}

.header .inner {
    font-size: 37px;
    width: 1200px;
    text-align: center;
    line-height: 120px;
    margin: 0 auto;
}

.header img {
    width: 300px;
}

.header .gnb {
    display: flex;
    height: 46px;
    color: #fff;
    background: #070c5ed3;
}

.header .gnb>ul {
    margin: 0 auto;
}

.header .gnb>ul>li {
    position: relative;
    z-index: 999;
    display: inline-block;
    line-height: 45px;

    margin: 0 80px 0 80px;
}

.header .gnb>ul>li~li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 30px;
    background: #fff;
    top: 50%;
    margin: 0 0 0 -80px;
    transform: translate(0, -50%);
}

.header .gnb>ul>li a {
    display: block;
    text-align: center;
}

.header .gnb>ul>li .submenu {
    position: absolute;
    top: 90px;
    left: 50%;

    background: #fff;
    border: 2px solid #070c5ed3;
    line-height: 35px;

    transform: translate(-50%, 0);

    width: 200px;
    opacity: 0;
    visibility: hidden;
}

.header .gnb>ul>li:hover .submenu {
    top: 44px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.header .gnb>ul>li .submenu li~li a {
    border-top: 1px solid #ddd;
}

.header .gnb>ul>li .submenu li>a {
    color: #444444;
}




.mainVisual .mainSlide figure {
    position: relative;
    height: 400px;
    translate: 0.3s;
}

.mainVisual .mainSlide .itm01 {
    background: url(../img/main01.jpg) no-repeat center center/cover;
    top: 0;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main02.jpg) no-repeat center center/cover;
    top: 0;
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/main03.jpg) no-repeat center center/cover;
    top: 0;
}

.mainVisual .mainSlide .itm04 {
    background: url(../img/main04.jpg) no-repeat center center/cover;
    top: 0;
}

.mainVisual .mainSlide .itm05 {
    background: url(../img/main05.jpg) no-repeat center center/cover;
    top: 0;
}

.mainVisual .mainSlide .itm06 {
    background: url(../img/main06.jpg) no-repeat center center/cover;
    top: 0;
}

.mainVisual .mainSlide .itm07 {
    background: url(../img/main07.jpg) no-repeat center center/cover;
    top: 0;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    border-radius: 10%;
    width: 20px;
    height: 5px;
    background: rgb(255, 255, 255);
    margin: -40px 3px;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #070c5ed3;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

.mainVisual .mainSlide .slick-arrow {
    font-size: 0;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;

    font-size: 0;

    width: 50px;
    height: 50px;
}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 50px 0 0 -800px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 50px 0 0 800px;
}


.mainVisual .main_slide_pic {
    position: absolute;
    bottom: 130px;
    left: 50%;
    margin: 0 0 0 700px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 2px 2px 0 rgb(221, 219, 219);
    font-size: 0;
    background: url(../img/banner-f.png) no-repeat center center/cover;
}

.mainVisual>button {
    position: absolute;
    bottom: 175px;
    left: 86.3%;
    background: #ddd;
    border: none;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}




.mainContent {
    position: relative;
    padding: 100px 0;
    text-align: center;
    background: rgb(250, 250, 250);
}

.mainContent h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.mainContent p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.mainContent img {
    width: 100%;
    border: 1px solid #ddd;
}

.mainContent .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainContent .inner figure {
    flex: 1;
    text-align: center;
}

.mainContent figure img {
    width: 100%;
}

.mainContent .img_box {
    position: relative;
    margin: 0 0 20px 0;
    overflow: hidden;
}

.mainContent .img_box .service {
    position: absolute;
    top: 0;
    right: -60px;
    background: #ddd;
    color: #333;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;

    font-size: 23px;
    transition: 0.3s;
}

.mainContent .img_box:hover .service {
    right: 0;
}

.mainContent .img_box img {
    transition: 0.3s;
}

.mainContent .img_box:hover img {}

.mainContent strong {
    display: block;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 16px;
}

.mainContent a {
    display: inline-block;
    padding: 8px 25px;
    background: rgba(7, 12, 94, 0.827);
    color: #fff;
    font-size: 14px;
}

.mainContent a::hover {
    background: #ff6347;
    color: #fff;
}

.mainContent .main_pro_slide {
    margin: 0 -15px;
}

.mainContent .arrows a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20px;
    height: 30px;

    font-size: 0;
}

.mainContent .arrows .Prev {
    background: url(../img/s_btn02.png) no-repeat;
    margin: 0 0 0 -700px;
}

.mainContent .arrows .Next {
    background: url(../img/s_btn01.png) no-repeat;
    margin: 0 0 0 700px;
}

.mainContent .slick-dots {
    margin: 20PX 0 0 0;
}

.mainContent .slick-dots li {
    display: inline-block;
    margin: 0 2px;
}

.mainBanner {
    text-align: right;
}

.mainBanner .mainSlide02 figure {
    height: 380px;
}

.mainBanner .mainSlide02 .itm01 {
    background: url(../img/mainbanner01.jpg);
}

.mainBanner .mainSlide02 .itm02 {
    background: url(../img/mainbanner02.jpg);
}

.mainBanner .mainSlide02 .slick-dots>li {
    font-size: 0;
}

.mainBanner .mainSlide02 .slick-dots>li button {
    display: none;
}

.mainBanner .mainSlide02 .slick-arrow {
    background: none;
    border: none;
    font-size: 0;
}

.mainBanner .mainSlide02 .figure {
    position: relative;
}

.mainBanner h2 {
    position: absolute;
    top: 1310px;
    left: 450px;
    right: 0;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.mainBanner p {
    position: absolute;
    top: 1365px;
    left: 450px;
    right: 0;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.mainBanner>a {
    position: absolute;
    top: 1430px;
    left: 1100px;
    right: 0;
    font-size: 27px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    width: 150px;
}





.mainRecruit {
    padding: 100px 0;
    text-align: center;
    width: 1200px 0;
    margin: 0 a;
}

.mainRecruit h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.mainRecruit p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.mainRecruit .inner {
    display: flex;
    gap: 10px;
    width: 1200px;
    margin: 0 auto;
}

.mainRecruit .inner>div {
    flex: 1;
}

.mainRecruit .inner>div a {
    display: block;
    padding: 120px 15px 80px 40px;
    color: #fff;
}

.mainRecruit .inner>div span {
    display: block;
    margin: 0 0 15px 0;
    font-size: 14px;
    font-weight: 300;
}

.mainRecruit .inner>div h3 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.mainRecruit .inner>div p {
    font-size: 14px;
    line-height: 20px;
}

.mainRecruit .inner .left {
    background: url(../img/main_bar01.jpg) no-repeat left bottom/cover;
}

.mainRecruit .inner .right {
    background: url(../img/main_bar02.jpg) no-repeat left bottom/cover;
}







.footer {
    background: rgb(250, 250, 250);
    border-top: 1px solid #fff;
    padding: 40px 0;
    text-align: center;
}

.footer .inner {
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0 0 0;
}

.footer .top {
    line-height: 30px;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

.footer .list li a {
    color: rgb(161, 161, 161);
    font-size: 15px;
    font-weight: 400;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
    /* vertical-align: -1px; */
}

.footer .bottom {
    line-height: 20px;
}

.footer .bottom address {
    color: rgb(161, 161, 161);
    width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 13px;
    border-top: 1px solid #ddd;
    padding: 20px 0 30px 0;
}